<!--<h4><B>Hi! :wave:</B></h4>-->
<div class="col mt-4">
  :wave: I'm a Computer Science PhD candidate at Ewha Womans University, Korea, advised by <a href="http://home.ewha.ac.kr/~kimy/">Young J. Kim</a>.
    My research focuses on computer vision and robotics.
    I’m interested in developing algorithms that enable intelligent systems to learn from their interactions with the physical world,
    and autonomously acquire the perception and manipulation skills necessary to execute complex tasks and assist people.
</div>
